﻿@{
    ViewData["Title"] = "Список контактов";
    Layout = "_Layout";
}
<!DOCTYPE html>
 
<html>

<body>
    <h1 class="display-3 ms-3">Контакты</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
    </tr>
  </thead>
  <tbody>
        @foreach (Contact contact in ViewBag.Contacts)
            {
            <tr>
                <th scope="row"><a asp-controller="Contacts" asp-action="Index" asp-route-id="@contact.Id" class="link-dark">@contact.Id</a></th>
                <td>@contact.LastName</td>
                <td>@contact.FirstName</td>
                <td>@contact.SurName</td>
            </tr>
        }

  </tbody>
</table>

@if (AuthUser.IsAuthenticated)
    {
        <a class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#addModal">Добавить</a>
    }
  

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Добавить контакт</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-header">
        <h7 class="modal-title text-danger" id="addModalLabel">@ViewBag.Error</h7>
      </div>

      <div class="modal-body">
          <form method="post" asp-controller="Home" asp-action="Add" class="needs-validation">
  <div class="mb-3">
    <label for="inputLastName" class="form-label">Фамилия</label>
    <input type="text" class="form-control" id="inputLastName" name="lastName" required>
  </div>
  <div class="mb-3">
    <label for="inputFirstName" class="form-label">Имя</label>
    <input type="text" class="form-control" id="inputFirstName" name="firstName" required>
  </div>
  <div class="mb-3">
    <label for="inputSurName" class="form-label">Отчество</label>
    <input type="text" class="form-control" id="inputSurName" name="surName">
  </div>
    <div class="mb-3">
    <label for="inputPhoneNumber" class="form-label">Телефон</label>
    <input type="tel" class="form-control" id="inputPhoneNumber" name="phoneNumber" required>
  </div>
      <div class="mb-3">
    <label for="inputAddress" class="form-label">Адрес</label>
    <input type="text" class="form-control" id="inputAddress" name="address" required>
  </div>
        <div class="mb-3">
    <label for="inputDescription" class="form-label">Описание</label>
    <input type="text" class="form-control" id="inputDescription" name="description">
  </div>
  <button type="submit" class="btn btn-primary">Добавить</button>
</form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

</body>
</html>
