﻿@model practice_21_5_library.Models.UserRegistration
@{
    ViewData["Title"] = "Список пользователей";
    Layout = "_Layout";
}
<!DOCTYPE html>
 
<html>
<body>
    @if (AuthUser.Role == "admin")
    {
    <h1 class="display-3 ms-3">Пользователи</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Логин</th>
    </tr>
  </thead>
  <tbody>
        @foreach (User user in ViewBag.Users)
            {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>
                    <form method="post" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">
                        <input type="submit" value="Удалить" class="btn btn-danger"/>
                    </form>
                </td>
            </tr>
        }

  </tbody>
</table>


            <!-- Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Удалить пользователя</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить этого пользователя?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
        <form method="post" asp-controller="User" asp-action="Delete" asp-route-id="">
            <input type="submit" value="Удалить" class="btn btn-danger"/>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->     
           <form method="post" asp-controller="User" asp-action="Index" asp-antiforgery="true" class="needs-validation">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="mb-3">
    <label for="inputLogin" class="form-label">Логин</label>
    <input type="text" class="form-control" id="inputLogin" asp-for="LoginProp" required>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Пароль</label>
    <input class="form-control" id="inputPassword" asp-for="Password" required>
  </div>
    <div class="mb-3">
    <label for="inputComfirmPassword" class="form-label">Повторите пароль</label>
    <input class="form-control" id="inputComfirmPassword" asp-for="ConfirmPassword" required>
  </div>
  <button type="submit" class="btn btn-primary">Добавить</button>
</form>
    }
</body>
</html>