﻿@if (AuthUser.IsAuthenticated)
{  <div class="container">
    <div class="row justify-content-between">
    <div class="col-4">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">@AuthUser.UserName</a>
    </div>
    <div class="col-4">
        <a asp-controller="User" asp-action="Index" class="navbar-brand">Пользователи</a>
    </div>
    <div class="col-2">
                <form asp-controller="Account" asp-action="Logout" id="logoutForm" asp-antiforgery="true">
            <a class="navbar-brand" href="#" onclick="document.getElementById('logoutForm').submit()">Выйти</a>
        </form>
    </div>
            
    </div>
    </div>

}
else
{
    <div class="btn-groug pull-right">
        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" class="navbar-brand">Войти</a>
        <a asp-controller="Account" asp-action="Register" class="navbar-brand">Регистрация</a>
    </div>
        
}
