﻿@model practice_21_5_library.Models.Contact
@{
    ViewData["Title"] = $"Контакт {Model.Id}" ;
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>          
    <h3 class="display-4 ms-3">Контакт @Model.Id</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Фамилиия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Адрес</th>
                <th scope="col">Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.Id</th>
                <td>@Model.LastName</td>
                <td>@Model.FirstName</td>
                <td>@Model.SurName</td>
                <td>@Model.PhoneNumber</td>
                <td>@Model.Address</td>
                <td>@Model.Description</td>
            </tr>
        </tbody>
  </table>

  <div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark">Назад</a>
        </div>
        @if (AuthUser.Role == "admin")
            {
                <div class="col-4">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Редактировать</a>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить</a>
                </div>
            }
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Удалить контакт</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
            <div class="modal-header">
        <h7 class="modal-title text-danger" id="addModalLabel">@ViewBag.Error</h7>
      </div>
      <div class="modal-body">
          <form method="post" asp-controller="Contacts" asp-action="Edit" asp-route-id="@Model.Id" class="needs-validation">
  <div class="mb-3">
    <label for="inputLastName" class="form-label">Фамилия</label>
    <input type="text" class="form-control" id="inputLastName" value="@Model.LastName" name="lastName" required>
  </div>
  <div class="mb-3">
    <label for="inputFirstName" class="form-label">Имя</label>
    <input type="text" class="form-control" id="inputFirstName" value="@Model.FirstName" name="firstName" required>
  </div>
  <div class="mb-3">
    <label for="inputSurName" class="form-label">Отчество</label>
    <input type="text" class="form-control" id="inputSurName" value="@Model.SurName" name="surName">
  </div>
    <div class="mb-3">
    <label for="inputPhoneNumber" class="form-label">Телефон</label>
    <input type="tel" class="form-control" id="inputPhoneNumber" value="@Model.PhoneNumber" name="phoneNumber" required>
  </div>
      <div class="mb-3">
    <label for="inputAddress" class="form-label">Адрес</label>
    <input type="text" class="form-control" id="inputAddress" value="@Model.Address" name="address" required>
  </div>
        <div class="mb-3">
    <label for="inputDescription" class="form-label">Описание</label>
    <input type="text" class="form-control" id="inputDescription" value="@Model.Description" name="description">
  </div>
  <button type="submit" class="btn btn-primary">Редактировать</button>
</form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Удалить контакт</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить этот контакт?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
        <form method="post" asp-controller="Contacts" asp-action="Delete" asp-route-id="@Model.Id">
            <input type="submit" value="Удалить" class="btn btn-danger"/>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
