﻿@model practice_21_5_library.Models.UserLogin
@{
    ViewData["Title"] = "Вход";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>

<body>
             <form method="post" asp-controller="Account" asp-action="Login" class="needs-validation">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <input type="hidden" asp-for="ReturnUrl"/>
  <div class="mb-3">
    <label for="inputLogin" class="form-label">Логин</label>
    <input type="text" class="form-control" id="inputLogin" asp-for="LoginProp" required>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Пароль</label>
    <input class="form-control" id="inputPassword" asp-for="Password" required>
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>
</body>
</html>