﻿@model practice_21_5_library.Models.UserRegistration
@{
    ViewData["Title"] = "Регистрация";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>

<body>
  <form method="post" asp-controller="Account" asp-action="Register" asp-antiforgery="true" class="needs-validation">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="mb-3">
    <label for="inputLogin" class="form-label">Логин</label>
    <input type="text" class="form-control" id="inputLogin" asp-for="LoginProp" required>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Пароль</label>
    <input class="form-control" id="inputPassword" asp-for="Password" required>
  </div>
    <div class="mb-3">
    <label for="inputComfirmPassword" class="form-label">Повторите пароль</label>
    <input class="form-control" id="inputComfirmPassword" asp-for="ConfirmPassword" required>
  </div>
  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
</body>
</html>